@charset "UTF-8";
/* Rounded corners */
/* Variables
-------------------------------------------------- */
/* Reset adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define focus styles. Hee Haw */
:focus {
  outline: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Special button reset */
/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  display: block;
  text-align: left;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.fill-dark {
  background: #404040; }

.fill-gray {
  background: #404040; }

.fill-light {
  background: #f8f8f8; }

.fill-white {
  background: #fff; }

/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color: rgba(0, 0, 0, 0.75);
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 16px;
  min-height: 30px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0; }

h1 {
  font-size: 30px;
  line-height: 40px; }

h2 {
  font-size: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 10px; }

h3 {
  font-size: 22px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

h4, h5, h6 {
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px; }

p {
  margin-bottom: 20px; }

p:last-child {
  margin-bottom: 0; }

.strong,
strong {
  font-weight: 600; }

.emphasis, em {
  font-style: italic; }

/* Links */
a {
  color: #2079DC;
  text-decoration: none; }

a.active, a:hover {
  color: #63b6e5; }

.dark a, a.dark {
  color: rgba(255, 255, 255, 0.5); }

a.dark.active, .dark a.active, a.dark:hover, .dark a:hover {
  color: white; }

a.quiet {
  color: rgba(0, 0, 0, 0.5); }

a.quiet.active, a.quiet:hover {
  color: rgba(0, 0, 0, 0.75); }

.dark a.quiet, a.quiet.dark {
  color: white; }

.dark a.quiet:hover, a.quiet.dark.active, a.quiet.dark:hover {
  color: rgba(255, 255, 255, 0.5); }

/* Buttons */
/* Buttons (generic)
-------------------------------------------------- */
.button {
  font-weight: 600;
  height: 30px;
  min-width: 30px;
  padding: 0px 10px;
  text-align: center; }
  .button.plain {
    background: none;
    color: #1B6685; }
    .button.plain:hover {
      color: #0b9dd9; }
  .button.loud {
    background: #4A90E2;
    color: rgba(255, 255, 255, 0.8); }
    .button.loud:hover {
      background: #397AC6;
      color: #fff; }

/* Helpers
-------------------------------------------------- */
.limiter {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.hidden {
  display: none !important; }

/* Typography */
.small {
  font-size: 14px; }

.large {
  font-size: 20px; }

.xlarge {
  font-size: 23px; }

.dark {
  color: #fff; }

.center {
  text-align: center; }

/* Borders */
.border {
  border: 1px solid #ddd; }

.border-left {
  border-left: 1px solid #ddd; }

.border-right {
  border-right: 1px solid #ddd; }

.border-top {
  border-top: 1px solid #ddd; }

.border-bottom {
  border-bottom: 1px solid #ddd; }

/* Deemphasis */
.quiet {
  color: rgba(0, 0, 0, 0.5); }

.dark .quiet {
  color: rgba(255, 255, 255, 0.5); }

/* Floating */
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

/* Clearfix - see http://www.positioniseverything.net/easyclearing.html */
.clearfix {
  display: block; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.debug * {
  outline: 1px solid pink; }

/* Disabled style */
.disabled {
  opacity: 0.2;
  cursor: default; }

.shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }

/* Menubar
-------------------------------------------------- */
.menubar {
  height: 40px; }
  .menubar .menu-group {
    float: left;
    margin-left: 5px; }
  .menubar .pill {
    font-weight: 600;
    padding: 0px 10px;
    float: left;
    margin: 5px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .menubar .pill:hover {
      background: rgba(0, 0, 0, 0.05); }
    .menubar .pill.active {
      background: rgba(0, 0, 0, 0.2); }
  .menubar.dark .pill.active, .menubar.dark .pill:hover {
    background: rgba(255, 255, 255, 0.1); }

/* Toolbar
-------------------------------------------------- */
.toolbar {
  height: 40px;
  /* Toolbar Tool
  ---------------------------- */
  /* Toolbar Dropdown
  ---------------------------- */
  /* Toolbar Select
  ---------------------------- */ }
  .toolbar .tool-group {
    float: left;
    margin-right: 10px; }
  .toolbar .tool {
    line-height: normal;
    margin: 5px;
    float: left;
    position: relative; }
  .toolbar .tool.active {
    background: rgba(0, 0, 0, 0.1); }
  .toolbar .tool:hover {
    background: rgba(0, 0, 0, 0.1); }
  .toolbar .tool.disabled:hover {
    background: none; }
  .toolbar input {
    margin: 5px;
    margin-left: 20px;
    min-width: 600px;
    border: none; }
  .toolbar .button {
    height: 30px;
    min-width: 30px;
    text-align: center;
    color: inherit; }
  .toolbar .dropdown, .toolbar .select {
    overflow: visible;
    position: relative;
    float: left; }
    .toolbar .dropdown .toggle, .toolbar .select .toggle {
      height: 30px;
      padding: 0px 10px;
      line-height: 30px;
      margin: 5px;
      display: block; }
    .toolbar .dropdown:not(.disabled) .toggle:after, .toolbar .select:not(.disabled) .toggle:after {
      content: " \f0d7";
      padding-left: 10px;
      float: right;
      font-family: FontAwesome; }
    .toolbar .dropdown .options, .toolbar .select .options {
      display: none;
      position: absolute;
      top: 40px;
      z-index: 5000;
      min-width: 150px; }
      .toolbar .dropdown .options .option, .toolbar .select .options .option {
        display: block;
        padding: 5px 10px;
        width: 100%; }
      .toolbar .dropdown .options .option:hover, .toolbar .select .options .option:hover {
        background: rgba(0, 0, 0, 0.05); }
    .toolbar .dropdown.open .options, .toolbar .open.select .options {
      display: block; }
  .toolbar .select .toggle {
    background: white;
    border: 1px solid #ddd; }

/* Modal
-------------------------------------------------- */
.modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6); }
  .modal .body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8); }
    .modal .body .header {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 40px;
      border-bottom: 1px solid #ddd; }
      .modal .body .header .title {
        line-height: 40px;
        font-weight: 600;
        padding-left: 20px; }
    .modal .body .content {
      position: absolute;
      overflow: auto;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px; }
  .modal.medium .body {
    max-width: 800px; }

/* Controller styles
-----------------------------------------------------*/
.sc-controller .se-clipboard {
  position: fixed;
  opacity: 0.0;
  bottom: -1000px; }

/* This actually happens inside a Surface
----------------------------------------------------*/
.sc-surface {
  /* Non-Editables should have a regular cursor */ }
  .sc-surface *[contenteditable="false"] {
    cursor: default; }

/* Panels (Context panel)
-----------------------------------------------------*/
.panel {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.panel .panel-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  line-height: 24px; }

/* Dialog Panels (aka modal panels)
-----------------------------------------------------*/
.panel.dialog {
  top: 0px;
  background: #F8F8F8; }

.panel.dialog .dialog-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 40px;
  border-bottom: 1px solid #ddd; }

.panel.dialog .dialog-header .back {
  padding-left: 20px;
  display: block;
  float: left;
  line-height: 40px;
  font-size: 16px; }

.panel.dialog .dialog-header .label {
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 39px;
  /*color: white;*/
  float: left; }

.panel.dialog .dialog-header .actions {
  overflow: hidden;
  float: right; }

.panel.dialog .dialog-header .actions a {
  display: block;
  float: left;
  font-weight: 600;
  padding: 0px 4px;
  font-size: 12px;
  line-height: 40px;
  margin-right: 20px; }

.panel.dialog .panel-content {
  top: 40px; }

/* Content Panel
-----------------------------------------------------*/
.content-panel-component {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px; }

.content-panel-component .panel-content-inner {
  position: relative;
  padding: 40px;
  padding-right: 80px; }

/* Overrides .panel .panel-content */
.content-panel-component .panel-content {
  left: 20px; }

/* Hide native scroll bar */
.content-panel-component .panel-content::-webkit-scrollbar {
  width: 0px;
  height: 0px; }

.content-panel-component .panel-content::-webkit-scrollbar-thumb {
  background-color: transparent; }

.sc-context-toggles {
  height: 40px;
  border-bottom: 1px solid #ddd; }
  .sc-context-toggles .se-context-toggle {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    color: #444;
    font-size: 12px;
    font-weight: 600; }
    .sc-context-toggles .se-context-toggle:hover {
      background: #eee;
      border-bottom: 1px solid #bbb; }
    .sc-context-toggles .se-context-toggle.sm-active {
      background: #eee;
      border-bottom: 1px solid #444; }

/* TOC Panel
-----------------------------------------------------*/
.toc-panel-component .toc-entries {
  padding: 20px 0px; }

.toc-panel-component .toc-entry {
  color: #777;
  font-weight: 600;
  letter-spacing: -0.5px;
  display: block;
  padding: 5px 0px; }

.toc-panel-component .toc-entry.active {
  color: #222; }

.toc-panel-component .toc-entry:hover {
  color: #444; }

.toc-panel-component .toc-entry.level-1 {
  font-size: 20px;
  padding-left: 20px; }

.toc-panel-component .toc-entry.level-2 {
  font-size: 18px;
  padding-left: 40px; }

.toc-panel-component .toc-entry.level-3 {
  font-size: 16px;
  padding-left: 60px; }

/* Scrollbar component
-----------------------------------------------------*/
.scrollbar-component {
  position: absolute;
  left: 0px;
  width: 20px;
  top: 0px;
  bottom: 0px;
  background: #FAFAFA;
  box-shadow: inset -4px 0 4px 0 rgba(25, 25, 25, 0.04); }

.scrollbar-component .thumb {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 0px;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.2); }

.scrollbar-component .highlight {
  position: absolute;
  width: 100%;
  background-color: #91bb04; }

/* For debugging purposes */
.scanline {
  position: absolute;
  display: none;
  top: 50px;
  left: 40px;
  width: 10px;
  height: 2px;
  background: #ccc; }

/* TOC Panel
-----------------------------------------------------*/
.toc-panel-component .toc-entries {
  padding: 20px 0px; }

.toc-panel-component .toc-entry {
  color: #777;
  font-weight: 600;
  letter-spacing: -0.5px;
  display: block;
  padding: 5px 0px; }

.toc-panel-component .toc-entry.active {
  color: #222; }

.toc-panel-component .toc-entry:hover {
  color: #444; }

.toc-panel-component .toc-entry.level-1 {
  font-size: 20px;
  padding-left: 20px; }

.toc-panel-component .toc-entry.level-2 {
  font-size: 18px;
  padding-left: 40px; }

.toc-panel-component .toc-entry.level-3 {
  font-size: 16px;
  padding-left: 60px; }

/* StatusBar Component
-----------------------------------------------------*/
.status-bar-component {
  border-top: 1px solid #ddd;
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  line-height: 25px;
  font-size: 12px; }

.status-bar-component.error {
  background: #F4E2E2;
  color: #c83939; }

.status-bar-component.success {
  background: #E3EAD6;
  color: #476247; }

.status-bar-component .document-status {
  float: left;
  padding: 0 20px; }

.status-bar-component .icon {
  float: right;
  padding: 0 20px; }

.status-bar-component .message {
  float: right; }

.sc-text-property .se-cursor {
  outline: 1px solid #999; }

.sc-text-property .se-selection-fragment {
  background-color: #ddd; }

.sc-text-property .se-container-annotation.se-anchor {
  position: relative; }

.toolbar .tool.expand::before, .toolbar .tool.truncate::before {
  content: " \f07e";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px; }

.toolbar .tool.edit::before {
  content: " \f013";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px; }

.content-node.paragraph {
  padding-bottom: 20px; }

.sc-heading {
  padding-bottom: 20px;
  font-weight: 600;
  letter-spacing: -0.5px; }

.sc-heading.sm-level-1 {
  font-size: 24px;
  line-height: 28px; }

.sc-heading.sm-level-2 {
  font-size: 20px; }

.sc-heading.sm-level-3 {
  font-size: 16px; }

.sc-blockquote {
  border-left: 2px solid #ccc;
  font-family: Georgia;
  padding-left: 30px;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px; }

.sc-codeblock {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 16px;
  padding-bottom: 20px; }

/**
 * Substance List styles
 * -------
 * 
 * Used for ordered lists
 *
 * Supports nesting only up to level-4
 */
.li.level-2 {
  margin-left: 20px; }

.li.level-3 {
  margin-left: 40px; }

.li.level-4 {
  margin-left: 60px; }

/* Spacing */
.li.list-start {
  padding-top: 20px; }

.li.list-end {
  padding-bottom: 20px; }

/**
 * Unordered lists
 * -------
 */
.ul.li::before {
  content: "▪ "; }

/**
 * Ordered lists
 * -------
 * 
 * Use CSS counters and support nesting up to level 4
 */
/* When a new list occurs counters are reset */
.list-start {
  counter-reset: level1 level2 level3 level4 !important; }

/* Resets for individual levels */
.ol.li.level-1 {
  counter-reset: level2 level3 level4; }

.ol.li.level-2 {
  counter-reset: level3 level4; }

.ol.li.level-3 {
  counter-reset: level4; }

/* Counter displays for levels 1-3 */
.ol.li.level-1::before {
  counter-increment: level1;
  content: counter(level1) ". "; }

.ol.li.level-2::before {
  counter-increment: level2;
  content: counter(level1) "." counter(level2) ". "; }

.ol.li.level-3::before {
  counter-increment: level3;
  content: counter(level1) "." counter(level2) "." counter(level3) ". "; }

.ol.li.level-4::before {
  counter-increment: level4;
  content: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) ". "; }

.annotation.link {
  color: #2079DC;
  border-bottom: 1px solid #CEDFF3; }

.toolbar .tool.prompt .prompt {
  padding: 15px;
  padding-bottom: 0px;
  position: absolute;
  left: -150px;
  top: 40px;
  z-index: 50000;
  width: 300px; }
  .toolbar .tool.prompt .prompt .prompt-title {
    font-size: 16px;
    font-weight: bold; }
  .toolbar .tool.prompt .prompt a.delete-link {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 13px;
    color: red; }
  .toolbar .tool.prompt .prompt input {
    margin: 15px 0;
    width: 100%;
    font-size: 14px;
    display: block;
    border: 1px solid #ddd;
    min-width: auto;
    padding: 0 10px; }

/* Table nodes
-----------------------------------------------------*/
.table {
  width: 100%;
  margin: 10px 0px;
  border-collapse: collapse;
  table-layout: fixed; }

.table th, .table td {
  border: 1px solid #efefef; }

.table th {
  font-weight: bold;
  background: #eee;
  text-align: center; }

.table td {
  padding: 2px 5px; }

.table .selected {
  background-color: cyan; }

.table.table-editing-mode .text-property {
  cursor: default; }

.sc-emphasis {
  font-style: italic; }

.sc-strong {
  font-style: bold; }

.text-tool-component.select .toggle {
  width: 140px; }

/* Special styles */
.text-tool-component .option.heading1 {
  font-size: 24px;
  font-weight: 600; }

.text-tool-component .option.heading2 {
  font-size: 20px;
  font-weight: 600; }

.text-tool-component .option.heading3 {
  font-size: 16px;
  font-weight: 600; }

.sc-bib-items-panel .se-bibliography-summary {
  padding: 20px; }

.sc-bib-items-panel .se-bib-item {
  position: relative;
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-left: 3px solid transparent; }
  .sc-bib-items-panel .se-bib-item .se-label {
    padding-bottom: 10px;
    color: #888; }
  .sc-bib-items-panel .se-bib-item .se-focus-toggle {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: #888;
    padding: 10px;
    top: 10px;
    right: 10px;
    cursor: pointer; }
    .sc-bib-items-panel .se-bib-item .se-focus-toggle:hover {
      color: #0b9dd9; }
  .sc-bib-items-panel .se-bib-item.se-highlighted {
    border-left: 3px solid #0b9dd9;
    background: #fff; }
    .sc-bib-items-panel .se-bib-item.se-highlighted .se-focus-toggle {
      color: #0b9dd9; }

.lc-writer, .lc-reader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .lc-writer .le-workspace, .lc-reader .le-workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;
    bottom: 25px;
    top: 0px; }
    .lc-writer .le-workspace .le-main, .lc-reader .le-workspace .le-main {
      float: left;
      height: 100%;
      background: #fff;
      position: relative;
      width: 65%;
      z-index: 30; }
    .lc-writer .le-workspace .le-resource, .lc-reader .le-workspace .le-resource {
      position: relative;
      float: right;
      border-left: 1px solid #ddd;
      height: 100%;
      background-color: #fafafa;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
      width: 35%; }

/* Container Annotations
-----------------------------------------------------*/
.container-annotation.active.annotation-fragment {
  background-color: rgba(145, 187, 4, 0.2); }

/* Selection style sheets
-----------------------------------------------------*/
/* CSL Styles
-----------------------------------------------------*/
.csl-entry {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 25px;
  padding: 5px 20px; }

.csl-block {
  padding: 0.4em 0px 0.4em 0em; }

.csl-left-margin {
  float: left;
  font-weight: 600;
  font-size: 13px; }

.csl-right-inline {
  margin-left: 40px; }

/* Content Tools
-----------------------------------------------------*/
.content-tools-component {
  height: 40px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  z-index: 40000;
  left: 0px;
  right: 0px;
  top: 0px; }

/* Custom Scrollbar styles
-----------------------------------------------------*/
.scrollbar-component.comments .highlight {
  background: #aaa; }

.scrollbar-component.cite-bib-item .highlight, .scrollbar-component.bib-items .highlight {
  background-color: #0b9dd9; }

/* Custom Annotation styles
-----------------------------------------------------*/
.container-annotation.comment.annotation-fragment {
  background: rgba(0, 0, 0, 0.1); }

.container-annotation.comment.annotation-fragment.active {
  background: #aaa; }

.annotation.citation {
  background: rgba(145, 187, 4, 0.15);
  border-bottom: 1px solid rgba(145, 187, 4, 0.6);
  color: #495A11;
  cursor: pointer;
  white-space: nowrap; }

.annotation.citation:hover {
  background: rgba(145, 187, 4, 0.2); }

.annotation.citation.highlighted {
  background: #91bb04; }

.annotation.bib-item-citation {
  background: rgba(11, 157, 217, 0.075);
  color: #1B6685;
  border-bottom: 1px solid rgba(11, 157, 217, 0.4);
  cursor: pointer; }

.annotation.bib-item-citation:hover {
  background: rgba(11, 157, 217, 0.15); }

.annotation.bib-item-citation.highlighted {
  background: #0b9dd9; }

/* Cite Panel
-----------------------------------------------------*/
.cite-panel-component .item {
  cursor: pointer;
  padding: 20px;
  border-left: 2px solid transparent; }
  .cite-panel-component .item.active {
    background: white;
    border-left: 2px solid #444; }
  .cite-panel-component .item:hover {
    background: white; }

/* Figure Item */
.cite-panel-component .item.figure.active {
  border-left: 2px solid #91bb04; }

.cite-panel-component .item.figure .title {
  font-weight: 600;
  padding-bottom: 10px; }

.cite-panel-component .item.figure img {
  padding-right: 20px;
  width: 70px;
  float: left; }

.cite-panel-component .item.bib-item.active {
  background: white;
  border-left: 2px solid #0b9dd9; }

.cite-panel-component .item.bib-item .label {
  padding-right: 5px;
  float: left;
  font-weight: 600; }

/* Figures
-----------------------------------------------------*/
.figure img {
  max-width: 100%; }

/* Figure Node
-----------------------------------------------------*/
.content-node.figure {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd; }
  .content-node.figure .label {
    color: #777;
    padding-bottom: 10px; }
  .content-node.figure .title {
    font-size: 20px;
    padding-bottom: 20px; }
  .content-node.figure .description {
    padding-top: 20px;
    line-height: 20px; }
  .content-node.figure .image {
    padding-bottom: 20px; }
  .content-node.figure img {
    max-width: 100%; }

/* Custom Annotation styles
-----------------------------------------------------*/
/* Manage BibItem Component
-----------------------------------------------------*/
.manage-bib-items-panel .panel-content {
  top: 40px; }

/* Manage Collection Component
-----------------------------------------------------*/
.manage-collection-component {
  background: green; }

.manage-collection-component .content-node.figure.image_figure .figure-content {
  float: left;
  width: 40%; }

.manage-collection-component .content-node.figure.image_figure .label,
.manage-collection-component .content-node.figure.image_figure .title,
.manage-collection-component .content-node.figure.image_figure .description {
  padding-left: 30px;
  float: right;
  width: 60%; }

/* Bibliography in manuscript area
-----------------------------------------------------*/
.bibliography-component {
  cursor: not-allowed; }

.bibliography-component .bib-item {
  padding-bottom: 10px;
  font-size: 14px; }

/* Document Cover
-----------------------------------------------------*/
.content-panel-component .document-cover {
  margin-bottom: 30px; }
  .content-panel-component .document-cover .title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 40px; }
  .content-panel-component .document-cover .abstract {
    padding-top: 15px;
    font-size: 18px;
    line-height: 26px; }
  .content-panel-component .document-cover .authors {
    font-size: 20px;
    padding: 30px 0px; }
    .content-panel-component .document-cover .authors .author {
      display: block;
      float: left;
      margin-right: 20px; }

/* Rounded corners */
/* Variables
-------------------------------------------------- */
/* Reset adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define focus styles. Hee Haw */
:focus {
  outline: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Special button reset */
/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  display: block;
  text-align: left;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.fill-dark {
  background: #404040; }

.fill-gray {
  background: #404040; }

.fill-light {
  background: #f8f8f8; }

.fill-white {
  background: #fff; }

/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color: rgba(0, 0, 0, 0.75);
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 16px;
  min-height: 30px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0; }

h1 {
  font-size: 30px;
  line-height: 40px; }

h2 {
  font-size: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 10px; }

h3 {
  font-size: 22px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

h4, h5, h6 {
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px; }

p {
  margin-bottom: 20px; }

p:last-child {
  margin-bottom: 0; }

.strong,
strong {
  font-weight: 600; }

.emphasis, em {
  font-style: italic; }

/* Links */
a {
  color: #2079DC;
  text-decoration: none; }

a.active, a:hover {
  color: #63b6e5; }

.dark a, a.dark {
  color: rgba(255, 255, 255, 0.5); }

a.dark.active, .dark a.active, a.dark:hover, .dark a:hover {
  color: white; }

a.quiet {
  color: rgba(0, 0, 0, 0.5); }

a.quiet.active, a.quiet:hover {
  color: rgba(0, 0, 0, 0.75); }

.dark a.quiet, a.quiet.dark {
  color: white; }

.dark a.quiet:hover, a.quiet.dark.active, a.quiet.dark:hover {
  color: rgba(255, 255, 255, 0.5); }

/* Buttons */
/* Buttons (generic)
-------------------------------------------------- */
.button {
  font-weight: 600;
  height: 30px;
  min-width: 30px;
  padding: 0px 10px;
  text-align: center; }
  .button.plain {
    background: none;
    color: #1B6685; }
    .button.plain:hover {
      color: #0b9dd9; }
  .button.loud {
    background: #4A90E2;
    color: rgba(255, 255, 255, 0.8); }
    .button.loud:hover {
      background: #397AC6;
      color: #fff; }

/* Helpers
-------------------------------------------------- */
.limiter {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.hidden {
  display: none !important; }

/* Typography */
.small {
  font-size: 14px; }

.large {
  font-size: 20px; }

.xlarge {
  font-size: 23px; }

.dark {
  color: #fff; }

.center {
  text-align: center; }

/* Borders */
.border {
  border: 1px solid #ddd; }

.border-left {
  border-left: 1px solid #ddd; }

.border-right {
  border-right: 1px solid #ddd; }

.border-top {
  border-top: 1px solid #ddd; }

.border-bottom {
  border-bottom: 1px solid #ddd; }

/* Deemphasis */
.quiet {
  color: rgba(0, 0, 0, 0.5); }

.dark .quiet {
  color: rgba(255, 255, 255, 0.5); }

/* Floating */
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

/* Clearfix - see http://www.positioniseverything.net/easyclearing.html */
.clearfix {
  display: block; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.debug * {
  outline: 1px solid pink; }

/* Disabled style */
.disabled {
  opacity: 0.2;
  cursor: default; }

.shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }

/* Menubar
-------------------------------------------------- */
.menubar {
  height: 40px; }
  .menubar .menu-group {
    float: left;
    margin-left: 5px; }
  .menubar .pill {
    font-weight: 600;
    padding: 0px 10px;
    float: left;
    margin: 5px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .menubar .pill:hover {
      background: rgba(0, 0, 0, 0.05); }
    .menubar .pill.active {
      background: rgba(0, 0, 0, 0.2); }
  .menubar.dark .pill.active, .menubar.dark .pill:hover {
    background: rgba(255, 255, 255, 0.1); }

/* Toolbar
-------------------------------------------------- */
.toolbar {
  height: 40px;
  /* Toolbar Tool
  ---------------------------- */
  /* Toolbar Dropdown
  ---------------------------- */
  /* Toolbar Select
  ---------------------------- */ }
  .toolbar .tool-group {
    float: left;
    margin-right: 10px; }
  .toolbar .tool {
    line-height: normal;
    margin: 5px;
    float: left;
    position: relative; }
  .toolbar .tool.active {
    background: rgba(0, 0, 0, 0.1); }
  .toolbar .tool:hover {
    background: rgba(0, 0, 0, 0.1); }
  .toolbar .tool.disabled:hover {
    background: none; }
  .toolbar input {
    margin: 5px;
    margin-left: 20px;
    min-width: 600px;
    border: none; }
  .toolbar .button {
    height: 30px;
    min-width: 30px;
    text-align: center;
    color: inherit; }
  .toolbar .dropdown, .toolbar .select {
    overflow: visible;
    position: relative;
    float: left; }
    .toolbar .dropdown .toggle, .toolbar .select .toggle {
      height: 30px;
      padding: 0px 10px;
      line-height: 30px;
      margin: 5px;
      display: block; }
    .toolbar .dropdown:not(.disabled) .toggle:after, .toolbar .select:not(.disabled) .toggle:after {
      content: " \f0d7";
      padding-left: 10px;
      float: right;
      font-family: FontAwesome; }
    .toolbar .dropdown .options, .toolbar .select .options {
      display: none;
      position: absolute;
      top: 40px;
      z-index: 5000;
      min-width: 150px; }
      .toolbar .dropdown .options .option, .toolbar .select .options .option {
        display: block;
        padding: 5px 10px;
        width: 100%; }
      .toolbar .dropdown .options .option:hover, .toolbar .select .options .option:hover {
        background: rgba(0, 0, 0, 0.05); }
    .toolbar .dropdown.open .options, .toolbar .open.select .options {
      display: block; }
  .toolbar .select .toggle {
    background: white;
    border: 1px solid #ddd; }

/* Modal
-------------------------------------------------- */
.modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6); }
  .modal .body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8); }
    .modal .body .header {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 40px;
      border-bottom: 1px solid #ddd; }
      .modal .body .header .title {
        line-height: 40px;
        font-weight: 600;
        padding-left: 20px; }
    .modal .body .content {
      position: absolute;
      overflow: auto;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px; }
  .modal.medium .body {
    max-width: 800px; }

/* Controller styles
-----------------------------------------------------*/
.sc-controller .se-clipboard {
  position: fixed;
  opacity: 0.0;
  bottom: -1000px; }

/* This actually happens inside a Surface
----------------------------------------------------*/
.sc-surface {
  /* Non-Editables should have a regular cursor */ }
  .sc-surface *[contenteditable="false"] {
    cursor: default; }

/* Panels (Context panel)
-----------------------------------------------------*/
.panel {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.panel .panel-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  line-height: 24px; }

/* Dialog Panels (aka modal panels)
-----------------------------------------------------*/
.panel.dialog {
  top: 0px;
  background: #F8F8F8; }

.panel.dialog .dialog-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 40px;
  border-bottom: 1px solid #ddd; }

.panel.dialog .dialog-header .back {
  padding-left: 20px;
  display: block;
  float: left;
  line-height: 40px;
  font-size: 16px; }

.panel.dialog .dialog-header .label {
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 39px;
  /*color: white;*/
  float: left; }

.panel.dialog .dialog-header .actions {
  overflow: hidden;
  float: right; }

.panel.dialog .dialog-header .actions a {
  display: block;
  float: left;
  font-weight: 600;
  padding: 0px 4px;
  font-size: 12px;
  line-height: 40px;
  margin-right: 20px; }

.panel.dialog .panel-content {
  top: 40px; }

/* Content Panel
-----------------------------------------------------*/
.content-panel-component {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px; }

.content-panel-component .panel-content-inner {
  position: relative;
  padding: 40px;
  padding-right: 80px; }

/* Overrides .panel .panel-content */
.content-panel-component .panel-content {
  left: 20px; }

/* Hide native scroll bar */
.content-panel-component .panel-content::-webkit-scrollbar {
  width: 0px;
  height: 0px; }

.content-panel-component .panel-content::-webkit-scrollbar-thumb {
  background-color: transparent; }

.sc-context-toggles {
  height: 40px;
  border-bottom: 1px solid #ddd; }
  .sc-context-toggles .se-context-toggle {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    color: #444;
    font-size: 12px;
    font-weight: 600; }
    .sc-context-toggles .se-context-toggle:hover {
      background: #eee;
      border-bottom: 1px solid #bbb; }
    .sc-context-toggles .se-context-toggle.sm-active {
      background: #eee;
      border-bottom: 1px solid #444; }

/* TOC Panel
-----------------------------------------------------*/
.toc-panel-component .toc-entries {
  padding: 20px 0px; }

.toc-panel-component .toc-entry {
  color: #777;
  font-weight: 600;
  letter-spacing: -0.5px;
  display: block;
  padding: 5px 0px; }

.toc-panel-component .toc-entry.active {
  color: #222; }

.toc-panel-component .toc-entry:hover {
  color: #444; }

.toc-panel-component .toc-entry.level-1 {
  font-size: 20px;
  padding-left: 20px; }

.toc-panel-component .toc-entry.level-2 {
  font-size: 18px;
  padding-left: 40px; }

.toc-panel-component .toc-entry.level-3 {
  font-size: 16px;
  padding-left: 60px; }

/* Scrollbar component
-----------------------------------------------------*/
.scrollbar-component {
  position: absolute;
  left: 0px;
  width: 20px;
  top: 0px;
  bottom: 0px;
  background: #FAFAFA;
  box-shadow: inset -4px 0 4px 0 rgba(25, 25, 25, 0.04); }

.scrollbar-component .thumb {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 0px;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.2); }

.scrollbar-component .highlight {
  position: absolute;
  width: 100%;
  background-color: #91bb04; }

/* For debugging purposes */
.scanline {
  position: absolute;
  display: none;
  top: 50px;
  left: 40px;
  width: 10px;
  height: 2px;
  background: #ccc; }

/* TOC Panel
-----------------------------------------------------*/
.toc-panel-component .toc-entries {
  padding: 20px 0px; }

.toc-panel-component .toc-entry {
  color: #777;
  font-weight: 600;
  letter-spacing: -0.5px;
  display: block;
  padding: 5px 0px; }

.toc-panel-component .toc-entry.active {
  color: #222; }

.toc-panel-component .toc-entry:hover {
  color: #444; }

.toc-panel-component .toc-entry.level-1 {
  font-size: 20px;
  padding-left: 20px; }

.toc-panel-component .toc-entry.level-2 {
  font-size: 18px;
  padding-left: 40px; }

.toc-panel-component .toc-entry.level-3 {
  font-size: 16px;
  padding-left: 60px; }

/* StatusBar Component
-----------------------------------------------------*/
.status-bar-component {
  border-top: 1px solid #ddd;
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  line-height: 25px;
  font-size: 12px; }

.status-bar-component.error {
  background: #F4E2E2;
  color: #c83939; }

.status-bar-component.success {
  background: #E3EAD6;
  color: #476247; }

.status-bar-component .document-status {
  float: left;
  padding: 0 20px; }

.status-bar-component .icon {
  float: right;
  padding: 0 20px; }

.status-bar-component .message {
  float: right; }

.sc-text-property .se-cursor {
  outline: 1px solid #999; }

.sc-text-property .se-selection-fragment {
  background-color: #ddd; }

.sc-text-property .se-container-annotation.se-anchor {
  position: relative; }

.toolbar .tool.expand::before, .toolbar .tool.truncate::before {
  content: " \f07e";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px; }

.toolbar .tool.edit::before {
  content: " \f013";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px; }

.content-node.paragraph {
  padding-bottom: 20px; }

.sc-heading {
  padding-bottom: 20px;
  font-weight: 600;
  letter-spacing: -0.5px; }

.sc-heading.sm-level-1 {
  font-size: 24px;
  line-height: 28px; }

.sc-heading.sm-level-2 {
  font-size: 20px; }

.sc-heading.sm-level-3 {
  font-size: 16px; }

.sc-blockquote {
  border-left: 2px solid #ccc;
  font-family: Georgia;
  padding-left: 30px;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px; }

.sc-codeblock {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 16px;
  padding-bottom: 20px; }

/**
 * Substance List styles
 * -------
 * 
 * Used for ordered lists
 *
 * Supports nesting only up to level-4
 */
.li.level-2 {
  margin-left: 20px; }

.li.level-3 {
  margin-left: 40px; }

.li.level-4 {
  margin-left: 60px; }

/* Spacing */
.li.list-start {
  padding-top: 20px; }

.li.list-end {
  padding-bottom: 20px; }

/**
 * Unordered lists
 * -------
 */
.ul.li::before {
  content: "▪ "; }

/**
 * Ordered lists
 * -------
 * 
 * Use CSS counters and support nesting up to level 4
 */
/* When a new list occurs counters are reset */
.list-start {
  counter-reset: level1 level2 level3 level4 !important; }

/* Resets for individual levels */
.ol.li.level-1 {
  counter-reset: level2 level3 level4; }

.ol.li.level-2 {
  counter-reset: level3 level4; }

.ol.li.level-3 {
  counter-reset: level4; }

/* Counter displays for levels 1-3 */
.ol.li.level-1::before {
  counter-increment: level1;
  content: counter(level1) ". "; }

.ol.li.level-2::before {
  counter-increment: level2;
  content: counter(level1) "." counter(level2) ". "; }

.ol.li.level-3::before {
  counter-increment: level3;
  content: counter(level1) "." counter(level2) "." counter(level3) ". "; }

.ol.li.level-4::before {
  counter-increment: level4;
  content: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) ". "; }

.annotation.link {
  color: #2079DC;
  border-bottom: 1px solid #CEDFF3; }

.toolbar .tool.prompt .prompt {
  padding: 15px;
  padding-bottom: 0px;
  position: absolute;
  left: -150px;
  top: 40px;
  z-index: 50000;
  width: 300px; }
  .toolbar .tool.prompt .prompt .prompt-title {
    font-size: 16px;
    font-weight: bold; }
  .toolbar .tool.prompt .prompt a.delete-link {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 13px;
    color: red; }
  .toolbar .tool.prompt .prompt input {
    margin: 15px 0;
    width: 100%;
    font-size: 14px;
    display: block;
    border: 1px solid #ddd;
    min-width: auto;
    padding: 0 10px; }

/* Table nodes
-----------------------------------------------------*/
.table {
  width: 100%;
  margin: 10px 0px;
  border-collapse: collapse;
  table-layout: fixed; }

.table th, .table td {
  border: 1px solid #efefef; }

.table th {
  font-weight: bold;
  background: #eee;
  text-align: center; }

.table td {
  padding: 2px 5px; }

.table .selected {
  background-color: cyan; }

.table.table-editing-mode .text-property {
  cursor: default; }

.sc-emphasis {
  font-style: italic; }

.sc-strong {
  font-style: bold; }

.text-tool-component.select .toggle {
  width: 140px; }

/* Special styles */
.text-tool-component .option.heading1 {
  font-size: 24px;
  font-weight: 600; }

.text-tool-component .option.heading2 {
  font-size: 20px;
  font-weight: 600; }

.text-tool-component .option.heading3 {
  font-size: 16px;
  font-weight: 600; }

.sc-bib-items-panel .se-bibliography-summary {
  padding: 20px; }

.sc-bib-items-panel .se-bib-item {
  position: relative;
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-left: 3px solid transparent; }
  .sc-bib-items-panel .se-bib-item .se-label {
    padding-bottom: 10px;
    color: #888; }
  .sc-bib-items-panel .se-bib-item .se-focus-toggle {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: #888;
    padding: 10px;
    top: 10px;
    right: 10px;
    cursor: pointer; }
    .sc-bib-items-panel .se-bib-item .se-focus-toggle:hover {
      color: #0b9dd9; }
  .sc-bib-items-panel .se-bib-item.se-highlighted {
    border-left: 3px solid #0b9dd9;
    background: #fff; }
    .sc-bib-items-panel .se-bib-item.se-highlighted .se-focus-toggle {
      color: #0b9dd9; }

.lc-writer, .lc-reader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .lc-writer .le-workspace, .lc-reader .le-workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;
    bottom: 25px;
    top: 0px; }
    .lc-writer .le-workspace .le-main, .lc-reader .le-workspace .le-main {
      float: left;
      height: 100%;
      background: #fff;
      position: relative;
      width: 65%;
      z-index: 30; }
    .lc-writer .le-workspace .le-resource, .lc-reader .le-workspace .le-resource {
      position: relative;
      float: right;
      border-left: 1px solid #ddd;
      height: 100%;
      background-color: #fafafa;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
      width: 35%; }

/* Container Annotations
-----------------------------------------------------*/
.container-annotation.active.annotation-fragment {
  background-color: rgba(145, 187, 4, 0.2); }

/* Selection style sheets
-----------------------------------------------------*/
/* CSL Styles
-----------------------------------------------------*/
.csl-entry {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 25px;
  padding: 5px 20px; }

.csl-block {
  padding: 0.4em 0px 0.4em 0em; }

.csl-left-margin {
  float: left;
  font-weight: 600;
  font-size: 13px; }

.csl-right-inline {
  margin-left: 40px; }

/* Content Tools
-----------------------------------------------------*/
.content-tools-component {
  height: 40px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  z-index: 40000;
  left: 0px;
  right: 0px;
  top: 0px; }

/* Custom Scrollbar styles
-----------------------------------------------------*/
.scrollbar-component.comments .highlight {
  background: #aaa; }

.scrollbar-component.cite-bib-item .highlight, .scrollbar-component.bib-items .highlight {
  background-color: #0b9dd9; }

/* Custom Annotation styles
-----------------------------------------------------*/
.container-annotation.comment.annotation-fragment {
  background: rgba(0, 0, 0, 0.1); }

.container-annotation.comment.annotation-fragment.active {
  background: #aaa; }

.annotation.citation {
  background: rgba(145, 187, 4, 0.15);
  border-bottom: 1px solid rgba(145, 187, 4, 0.6);
  color: #495A11;
  cursor: pointer;
  white-space: nowrap; }

.annotation.citation:hover {
  background: rgba(145, 187, 4, 0.2); }

.annotation.citation.highlighted {
  background: #91bb04; }

.annotation.bib-item-citation {
  background: rgba(11, 157, 217, 0.075);
  color: #1B6685;
  border-bottom: 1px solid rgba(11, 157, 217, 0.4);
  cursor: pointer; }

.annotation.bib-item-citation:hover {
  background: rgba(11, 157, 217, 0.15); }

.annotation.bib-item-citation.highlighted {
  background: #0b9dd9; }

/* Cite Panel
-----------------------------------------------------*/
.cite-panel-component .item {
  cursor: pointer;
  padding: 20px;
  border-left: 2px solid transparent; }
  .cite-panel-component .item.active {
    background: white;
    border-left: 2px solid #444; }
  .cite-panel-component .item:hover {
    background: white; }

/* Figure Item */
.cite-panel-component .item.figure.active {
  border-left: 2px solid #91bb04; }

.cite-panel-component .item.figure .title {
  font-weight: 600;
  padding-bottom: 10px; }

.cite-panel-component .item.figure img {
  padding-right: 20px;
  width: 70px;
  float: left; }

.cite-panel-component .item.bib-item.active {
  background: white;
  border-left: 2px solid #0b9dd9; }

.cite-panel-component .item.bib-item .label {
  padding-right: 5px;
  float: left;
  font-weight: 600; }

/* Figures
-----------------------------------------------------*/
.figure img {
  max-width: 100%; }

/* Figure Node
-----------------------------------------------------*/
.content-node.figure {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd; }
  .content-node.figure .label {
    color: #777;
    padding-bottom: 10px; }
  .content-node.figure .title {
    font-size: 20px;
    padding-bottom: 20px; }
  .content-node.figure .description {
    padding-top: 20px;
    line-height: 20px; }
  .content-node.figure .image {
    padding-bottom: 20px; }
  .content-node.figure img {
    max-width: 100%; }

/* Custom Annotation styles
-----------------------------------------------------*/
/* Manage BibItem Component
-----------------------------------------------------*/
.manage-bib-items-panel .panel-content {
  top: 40px; }

/* Manage Collection Component
-----------------------------------------------------*/
.manage-collection-component {
  background: green; }

.manage-collection-component .content-node.figure.image_figure .figure-content {
  float: left;
  width: 40%; }

.manage-collection-component .content-node.figure.image_figure .label,
.manage-collection-component .content-node.figure.image_figure .title,
.manage-collection-component .content-node.figure.image_figure .description {
  padding-left: 30px;
  float: right;
  width: 60%; }

/* Bibliography in manuscript area
-----------------------------------------------------*/
.bibliography-component {
  cursor: not-allowed; }

.bibliography-component .bib-item {
  padding-bottom: 10px;
  font-size: 14px; }

/* Document Cover
-----------------------------------------------------*/
.content-panel-component .document-cover {
  margin-bottom: 30px; }
  .content-panel-component .document-cover .title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 40px; }
  .content-panel-component .document-cover .abstract {
    padding-top: 15px;
    font-size: 18px;
    line-height: 26px; }
  .content-panel-component .document-cover .authors {
    font-size: 20px;
    padding: 30px 0px; }
    .content-panel-component .document-cover .authors .author {
      display: block;
      float: left;
      margin-right: 20px; }

.lc-reader .content-panel-component {
  top: 0px; }

/* Integration styles */
body, html {
  overflow: hidden; }

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background: #5c6570; }
  .menu button {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px; }
    .menu button.active {
      background: rgba(0, 0, 0, 0.1);
      color: white; }
    .menu button:hover {
      color: white; }

.context {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 40px; }
