$fa-font-path:  "./fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';

// Substance base styles
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

// Lens stuff
@import './components/_bib-items-panel';
@import './components/_add-bib-items-panel';
@import './components/_bib-item';
@import './components/_cite-panel';
@import './packages/citations/citation.scss';

// Most layouting is now done using SplitPane
%lens {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .se-main-section .se-content {
    padding: 40px;
  }

  .se-context-section {
    border-left: 1px solid #ddd;
    background-color: #fafafa;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  }
}

// TODO: Get rid of it one by one!
@import '_wild_overrides';