// Substance base styles
@import '../node_modules/substance/styles/base/index';

// UI Components used
@import '../node_modules/substance/styles/components/_controller';
@import '../node_modules/substance/styles/components/_surface';
@import '../node_modules/substance/styles/components/_panel';
@import '../node_modules/substance/styles/components/_content-panel';
@import '../node_modules/substance/styles/components/_context-toggles';
@import '../node_modules/substance/styles/components/_scrollbar';
@import '../node_modules/substance/styles/components/_toc-panel';
@import '../node_modules/substance/styles/components/_status-bar';
@import '../node_modules/substance/styles/components/_text-property';
@import '../node_modules/substance/styles/components/_toolbar';
@import '../node_modules/substance/packages/text/_switch-text-type-tool';

// Nodes
@import '../node_modules/substance/packages/paragraph/_paragraph';
@import '../node_modules/substance/packages/heading/_heading';
@import '../node_modules/substance/packages/blockquote/_blockquote';
@import '../node_modules/substance/packages/codeblock/_codeblock';
@import '../node_modules/substance/packages/list/_list';
@import '../node_modules/substance/packages/link/_link';
@import '../node_modules/substance/packages/embed/_embed';
@import '../node_modules/substance/packages/table/_table';
@import '../node_modules/substance/packages/emphasis/_emphasis';
@import '../node_modules/substance/packages/strong/_strong';

@import './components/_bib-items-panel';
@import './components/_cite-panel';

%lens {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  // Lens Layout
  .le-workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;
    bottom: 25px;
    top: 0px;

    .le-main {
      float: left;
      height: 100%;
      background: #fff;
      position: relative;

      width: 65%;
      z-index: 30;

      // Position content-panel
      .sc-content-panel {
        position: absolute;
        top: 40px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 20px;
      }
    }

    .le-context {
      position: relative;
      float: right;
      border-left: 1px solid #ddd;
      height: 100%;
      background-color: #fafafa;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      width: 35%;

      .le-active-context {
        position: absolute;
        left: 0px;
        right: 0px;
        overflow: hidden;
        bottom: 0px;
        top: 40px;
      }
    }
  }
}

// TODO: Get rid one by one!
@import '_wild_overrides';
