// Substance base styles
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

// Lens stuff
@import './components/_bib-items-panel';
@import './components/_add-bib-items-panel';
@import './components/_bib-item';
@import './components/_cite-panel';

@import './packages/citations/citation.scss';

%lens {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  // Lens Layout
  .le-workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;
    bottom: 25px;
    top: 0px;

    .le-main {
      float: left;
      height: 100%;
      background: #fff;
      position: relative;
      width: 65%;

      // Position content-panel
      .sc-content-panel {
        position: absolute;
        top: 40px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        .se-content {
          padding: 40px;
        }
      }
    }

    .se-context-section {
      position: relative;
      float: right;
      border-left: 1px solid #ddd;
      height: 100%;
      background-color: #fafafa;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      width: 35%;
    }
  }
}

// TODO: Get rid one by one!
@import '_wild_overrides';
